Cliente/Connected Services/ServicioViviendaJovenClient/ServicioViviendaJoven1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56326/ServicioViviendaJoven.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicio" />
  <xs:element name="AltaBarrio">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicio" minOccurs="0" name="b" nillable="true" type="q1:DTOBarrio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaBarrioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaBarrioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>