Cliente/Connected Services/ServicioViviendaJovenClient/ServicioViviendaJoven2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTOBarrio">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOBarrio" nillable="true" type="tns:DTOBarrio" />
</xs:schema>